@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Public Sans', sans-serif;
  background-color: #FFFFFF;
  margin: 0;
  overflow-x: hidden;
}

.main-gradient {
  background: linear-gradient(180deg, rgba(93, 6, 233, 0.02) 0%, rgba(28, 29, 246, 0.13) 100%);
}

.btn-gradient {
  background: linear-gradient(317.8deg, #5D06E9 13.21%, #0B23FA 98.3%);
}

.star-gradient {
  background: linear-gradient(178.34deg, #FFD900 1.41%, #FF9C11 80.43%);
}
